nav
    .container
        .row
            .col-6.col-md-2
                a(href='index.html' title='').link-logo
                    include ../svgs/logo.svg

            .col-6.nav-mobile
                .nav-icon#menu-trigger
                    span
                    span
                    span
                    span

            .col-md-9.nav-panel
                ul.menu
                    li
                        a(href='index.html' title='') Анализ
                    li
                        a(href='strategy.html' title='') Стратегия