form
  display flex
  flex-direction row
  justify-content space-between
  select
    max-width 360px
  .button
    max-width 160px
    background $purple
    cursor pointer
    margin-bottom 0
    max-height: 43px;
    &:hover
      background #480B71
      color $white

