@import '../../utilities/vars'
@import '../../utilities/mixins'

html
  overflow-x hidden

body
  overflow-x hidden
  font(1rem, $black, 400, normal)
  background $white
  +mobile()
    padding-top 120px !important

+displays()
  .container
    max-width 1170px