@import '../../utilities/vars'
@import '../../utilities/mixins'

h1
  font(4.375em, $black, 600, normal)
  letter-spacing: 3px;
  margin-bottom 2.5rem
  position relative
  z-index 20

h2
  font(4.375rem, $black, 600, normal)
  font-size: 70px;
  letter-spacing: 3px;
  color: $pink
  margin-bottom 53px

h2.h2-small
  font-size: 3.125rem
  letter-spacing: 2.1px;
  max-width 291px

h3
  font(2.5rem, $black, 600, normal)
  margin-bottom 3.188rem
  letter-spacing: 2.4px;

h3.h3-big
  font-size: 3.125rem
  margin-bottom: 58px;

h3.h3-small
  font-size: 30px;
  letter-spacing: 1.3px;

h4
  font(2.125rem, $pink, 600, normal)
  margin-bottom 66px
  text-align center
  letter-spacing: 1.5px;


h5
  font(1.25rem, $black, 500, normal)
  margin-bottom 1.5rem

h6
  font(1.125rem, $black, 400, normal)
  margin-bottom 1.25rem

p
  font(1rem, $black, 300, 1.5)
  margin-bottom 6.688rem

hr
  border: 0;
  height: 1px;
  background: $black
  margin 1em 0

.black
  color $black

.white
  color $white

.gray
  color $gray

.white-big
  color $white
  line-height: 1.75;
  font-weight 500
  margin-top 9px
  margin-bottom 56px

.white-bold
  color $white
  font-weight: 600
  line-height: 1.75;

.purple-bold
  color $purple !important
  font-size: $s18
  font-weight: 600
  line-height: 1.56;

.pink-bold
  font-size: $s18
  font-weight: 600
  line-height: 1.56;
  color $pink !important