.scenario-step
  &--heading
    font-size: $s20
    line-height: 61px
    text-align center
    background $pink
    color $white
    margin-bottom 51px
    position relative
    b
      font-weight 600
    img
      position absolute

.scenario-step1
  .scenario-step--heading
    font-size $s30
    margin-bottom 120px
    img
      bottom: -104px;
      right: -31px;


.scenario-step2
  margin-top 131px
  .scenario-step--heading
    background $yellow
    color $black
    img
      bottom: -104px;
      right: -30px;
  p
    max-width 360px


.scenario-step3
  margin-top 262px
  .scenario-step--heading
    background $yellow
    color $black
    img
      bottom: -264px;
      left: -357px;
  p
    margin-bottom 18px

.scenario-step4
  .scenario-step--heading
    max-width 263px


