@import '../../utilities/vars'
@import '../../utilities/mixins'

header
  position relative
  z-index 10
  min-height 742px
  &:after
    pseudo(block, absolute)
    background $green
    top 119px
    bottom 54px
    left 0
    right 0
    z-index 1
    +tablet()
      bottom: 134px
    +mobile()
      top 90px
      bottom 20px
  +portrait()
    min-height: 606px;
  +mobile()
    min-height: 392px;

.header-img
  z-index 40
  max-width 1042px
  width 100%
  position absolute
  left 15px
  top -71px
  +mobile()
    top -31px

.header-logo
  max-width 117px
  width 100%
  display block
  margin 0 auto

header.header-strategy
  .heading
    background $purple2
    &:after
      background $purple2
    h1
      color $white
  .header-img
    top: -110px;
    max-width 100%


