//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | Анализ

block content

    header.header-strategy
        .container
            .row
                .col-md-8.col-9
                    .heading
                        h1 Анализ
                .offset-xl-2.col-xl-2.offset-lg-1.col-lg-3.col-md-4.col-3
                    img(src='img/fundament.png').header-logo
                .col-md-12
                    img(src='img/header2.svg').header-img


    section.section-complex
        .container
            .row
                .col-3
                    img(src='img/illus/illus2-1.svg').illus2-1
                .col-8
                    h3 О комплексе
                    p Жилой квартал Ла Ла Ленд построен вокруг концепции  «Город в Городе». Удобная транспортная развязка, наличие поблизости всевозможных магазинов и развлечений, а также новые садики и школы делают покупку жилья в данном комплексе привлекательным как для молодых семей с детьми, так и для молодежи.


    section.section-customer
        .container
            .row
                .col-8
                    .back-purple
                        h2.h2-small Наш покупатель –  кто он?
                        p Покупателями жилья в ЖК «La La Land» являются молодые семьи с детьми, пары, молодые люди. Для них главным критерием является стоимость жилья, но они не готовы жертвовать комфортом и инфраструктурой в угоду экономии.  Также можно предположить, что они предпочитают жить  в черте города. Им нравится концепция сообщества, они активны и общительны.
                .offset-2.col-10
                    img(src='img/illus/illus2-2.svg').illus2-2
                .offset-1.col-6
                    h3.h3-big Конкуренты
                    p Среди конкурентов комплекса (концептуально) можно выделить
                        b  ЖК «Комфорттаун»
                        |  и
                        b  ЖК «Файна Таун»
                        | от КАН . По территориальному расположению:
                        b ЖК «Атлант 2»
                        |  и
                        b  ЖК «Welcome Home на Стеценко».
            .row.justify-content-center
                .col-11
                    .slider-container
                        .slider.slider-full
                            div.slide
                                a(href='') welcome-home.com.ua
                                img(src='img/slides/slide1.png')
                            div.slide
                                a(href='') welcome-home.com.ua
                                img(src='img/slides/slide2.png')
                            div.slide
                                a(href='') welcome-home.com.ua
                                img(src='img/slides/slide3.png')
                            div.slide
                                a(href='') welcome-home.com.ua
                                img(src='img/slides/slide4.png')

    section.section-factor
        .container
            .row
                .col-7
                    h3.h3-big Факторы, влияющие  на решение о покупке
        .back-purple
            .container
                .row
                    .col-12
                        .factor
                            .factor-container
                                .factor-container--image
                                    img(src='img/factors/factor1.svg')
                                .factor-container--text Стоимость
                            .factor-container
                                .factor-container--image
                                    img(src='img/factors/factor2.svg')
                                .factor-container--text Наличие разрешительной документации
                            .factor-container
                                .factor-container--image
                                    img(src='img/factors/factor3.svg')
                                .factor-container--text Репутация застройщика,  наличие построек
                            .factor-container
                                .factor-container--image
                                    img(src='img/factors/factor4.svg')
                                .factor-container--text Инфраструктура
                            .factor-container
                                .factor-container--image
                                    img(src='img/factors/factor5.svg')
                                .factor-container--text Место  расположения

    section.section-conclusion
        .container
            .row
                .col-6
                    h2 Выводы
                    p Среди конкурентов комплекса (концептуально) можно выделить
                        b  ЖК «Комфорттаун»
                        |  и
                        b  ЖК «Файна Таун»
                        | от КАН . По территориальному расположению:
                        b ЖК «Атлант 2»
                        |  и
                        b  ЖК «Welcome Home на Стеценко».
                .col-12
                    a(href='strategy.html').button.button-big.button-pink
                        | Перейти к стратегии
                        include svgs/arrow-right.svg
