//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | Анализ

block content

    header.header-strategy
        .container
            .row
                .col-md-8.col-9
                    .heading
                        h1 Анализ
                .offset-xl-2.col-xl-2.offset-lg-1.col-lg-3.col-md-4.col-3
                    img(src='img/fundament.png').header-logo
                .col-md-12
                    img(src='img/header2.svg').header-img


    section.section-complex
        .container
            .row
                .col-md-3
                    img(src='img/illus/illus2-1.svg').illus2-1
                .col-md-8
                    h3 О комплексе
                    p Основная идея «LaLaLand» строится вокруг концепции “город в городе”. Здесь есть вся для комфортной жизни: удобная транспортная развязка, садики и школы, магазины, развлечения и самое важное – люди, возможность стать частью комьюнити.


    section.section-customer
        .container
            .row
                .col-lg-8.col-md-10
                    .back-purple
                        h2.h2-small Наш покупатель – кто он?
                        p Молодые семьи с детьми, пары, молодые люди – это основная целевая аудитория  «LaLaLand». Цена – важный фактор при выборе жилья, но покупатели не готовы жертвовать комфортом: хотят жить в черте города с развитой инфраструктурой. Именно таким будет жилой микрорайон «LaLaLand».
                .offset-2.col-10
                    img(src='img/illus/illus2-2.svg').illus2-2
                .offset-1.col-lg-6.col-md-8
                    h3.h3-big Конкуренты
                    p Отметим конкурентов по территориальному расположению:
                        b  ЖК «Атлант 2»
                        |  и
                        b  ЖК «Welcome Home на Стеценко».
                        | Отдельно выделим конкурентов по концепции:
                        b ЖК «Комфорттаун»
                        |  и
                        b  ЖК «Файна Таун»
                        |  от КАН.
            .row.justify-content-center
                .col-lg-11
                    .slider-container
                        .slider.slider-full
                            div.slide
                                a(href='//welcome-home.com.ua' target='blank') welcome-home.com.ua
                                img(src='img/slides/slide1.png')
                            div.slide
                                a(href='//atlant2k.com.ua' target='blank') atlant2k.com.ua
                                img(src='img/slides/slide2.png')
                            div.slide
                                a(href='//faynatown.com.ua' target='blank') faynatown.com.ua
                                img(src='img/slides/slide3.png')
                            div.slide
                                a(href='//comforttown.com.ua' target='blank') comforttown.com.ua
                                img(src='img/slides/slide4.png')

    section.section-factor
        .container
            .row
                .col-lg-7.col-md-10
                    h3.h3-big Что влияет на решение о покупке?
        .back-purple
            .container
                .row
                    .col-12
                        .factor
                            .factor-container
                                .factor-container--image
                                    img(src='img/factors/factor1.svg')
                                .factor-container--text Стоимость
                            .factor-container
                                .factor-container--image
                                    img(src='img/factors/factor2.svg')
                                .factor-container--text Разрешительная документация
                            .factor-container
                                .factor-container--image
                                    img(src='img/factors/factor3.svg')
                                .factor-container--text Репутация и опыт застройщика
                            .factor-container
                                .factor-container--image
                                    img(src='img/factors/factor4.svg')
                                .factor-container--text Инфраструктура
                            .factor-container
                                .factor-container--image
                                    img(src='img/factors/factor5.svg')
                                .factor-container--text Место расположения

    section.section-conclusion
        .container
            .row
                .col-lg-6.col-md-10
                    h2 Выводы
                    p Активный жилой микрорайон «LaLaLand» – это уникальный продукт. Компания предлагает одновременно привлекательную стоимость, развитую инфраструктуру и социальное вовлечение.
                        br
                        | Мы разработали стратегию взаимодействия с целевой аудитории через сайт. Наша коммуникация будет отражением сути «LaLaLand»: эмоциональной, интерактивной, стильной, уникальной.

                .col-12
                    a(href='strategy.html').button.button-big.button-pink
                        | Перейти к стратегии
                        include svgs/arrow-right.svg
