//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | Стратегия

block content

    header
        .container
            .row
                .col-md-8.col-9
                    .heading
                        h1 Наша стратегия
                .offset-xl-2.col-xl-2.offset-lg-1.col-lg-3.col-md-4.col-3
                    img(src='img/fundament.png').header-logo
                .offset-md-1.col-md-11
                    img(src='img/header1.svg').header-img


    section
        .container
            .row
                .col-12
                    h3 Инсайт покупателя
                .offset-md-2.col-md-6.col-9
                    p “Я захожу на сайты ЖК и все время сталкиваюсь с одной и той же проблемой – мне очень сложно разобраться в структуре информации. Я хочу зайти на сайт и получить простые ответы на четыре вопроса:”
                .offset-md-2.col-md-10
                    .tag-line
                        ul
                            li Что?
                            li Сколько?
                            li Где?
                            li Когда?
                .offset-md-2.col-md-6.col-9
                    p Мы формируем позитивный опыт использования сайта. Всю информацию подаем в простой форме с элементами интерактива. Уходим от использования необоснованных визуальных элементов.

    section.section-personification
        .container
            .row
                .col-md-8
                    h3 Персональное обращение
                .col-xl-5.col-md-6
                    img(src='img/illus/illus1-1.svg').illus1-1
                .col-xl-5.col-md-6
                    p Если бы «LaLaLand» был человеком, мы бы сказали, что он: веселый, открытый, доброжелательный и внимательный к друзьям. Именно поэтому предлагаем обращаться к потенциальным клиентам персонально, как к друзьям.

    section.section-human
        .container
            .row
                .col-lg-8.offset-md-0.col-md-10.offset-sm-2.col-sm-10
                    .back-purple
                        .content
                            h2 Дизайн для людей и о людях
                            p Сайт помогает посетителям найти ответы на свои вопросы, как друг помогает разобраться в чем-то новом. Через дизайн мы помогаем потенциальному клиенту решить свои проблемы и найти необходимую информацию.
                                br
                                | Вижуалы справа – хороший пример персональной коммуникации. Можно ясно ощутить атмосферу, уют и эмоции. Именно так мы разговариваем с другом – доверительно.
                            .spacer-331
                            p.pink-bold Пример эмоций человека после покупки
                .col-lg-4.col-md-12
                    .image-section1-2
                        img(src='img/illus/illus1-2.png').illus1-2

    section.section-friend
        .container
            .row
                .col-12
                    h3 Дружественный интерфейс
                .offset-md-1.col-md-5.col-9
                    p Основная задача сайта – сделать сложное простым. Мы проектируем удобный интерфейс, расставляем правильные акценты, анализируем поисковые запросы и выделяем самую актуальную информацию. Результат подхода:

        .back-green
            .container
                .row
                    .offset-md-1.col-md-5.offset-2.col-9
                        ul.ul-regular
                            li Посетитель сайта быстрее найдет нужную информацию
                            li Посетитель проведет на сайте больше времени
                            li Рекламная кампания в интернете будет эффективнее
                            li Интерес к покупке будет повышаться по мере изучения сайта
                    .col-md-6
                        img(src='img/illus/illus1-3.png').illus1-3

    section.back-green.section-adaptation
        .container
            .row
                .col-lg-5
                    h3 Мобильная адаптация
            .row
                .offset-lg-1.col-md-4
                    p.white-big Мобильный траффик занимает более 65% рынка Украины. Мобильная реклама в digital уже обошла традиционные медиа. Сайт обязательно должен корректно отображаться и функционировать на мобильных устройствах. Но мобильные версии сайтов ЖК часто не дают возможности выбрать планировку. Мы считаем это стратегической ошибкой.

                    p.white-bold На сайте «LaLaLand» пользователи смогут удобно выбирать планировку даже на мобильном устройстве.
                .col-lg-6.col-md-8
                    img(src='img/illus/illus1-4.png').illus1-4
            .row
                .col-md-6.order-md-1.order-2
                    img(src='img/illus/illus1-5.png').illus1-5
                .col-md-6.order-md-2.order-1
                    .back-purple
                        .content
                            h2.h2-small Эмоции и продукт
                            p Покупка жилья – это иррациональное действие. Доказано, что эмоции играют решающую роль даже при выборе дорогих продуктов. Мы продаем продукт через эмоциональное вовлечение.
                                br
                                | Мы погружаем аудиторию в мир «LaLaLand». Покажем, как приятно жить в этом микрорайоне: современные учебные заведения для детей, живописные места для вечерних прогулок, все условия для приятного отдых в выходные.

    section.section-example
        .container
            .row
                .offset-md-8.col-md-4
                    p.pink-bold Пример сайта с эмоциональной подачей интерьера

    section.section-style
        .container
            .row
                .col-12
                    h3.h3-big Стилистика
                .offset-xl-2.col-xl-6.offset-md-1.col-lg-7.col-md-8
                    p Коллеги из Fedoriv предложили изометрию. Общая идея уместна, потому мы развиваем концепт и дополняем «живыми» фото. Так мы уходим от полной мультяшности, но оставляем ощущение доброжелательности. Над стилистикой самой изометрии еще нужно работать.
                .offset-xl-2.offset-md-1.col-md-11
                    img(src='img/illus/illus1-6.svg').illus1-6
                .col-lg-6.col-md-8
                    h3.h3-small Пример удачной реализации изометрии:
                .offset-md-2.col-md-10
                    a(href='//dev.volta.one/kasko-anima/edge' target='_blank').button.button-big
                        | Смотреть пример
                        include svgs/arrow-right.svg
                    .spacer-287
            .row
                .col-lg-7.col-md-9.order-2.order-md-1
                    img(src='img/illus/illus1-7.png').illus1-7
                .offset-lg-1.col-lg-2.col-md-3.order-1.order-md-2
                    p.purple-bold Референс по стилистике

    section
        .container
            .row
                .col-md-8
                    h2 Функциональность сайта
                .offset-lg-1.col-lg-4.col-md-6
                    p Сайт будет функциональным, но не перегруженным. Дополнительные возможности упрощают взаимодействие пользователей с сайтом и формируют позитивный опыт. Планируем добавить такие функции:
                .offset-md-1.col-md-5.offset-2.col-10
                    ul.ul-regular.ul-regular-black
                        li Фильтр квартир по жизненному сценарию: для семьи, для инвестиции, для одиночки.

                        li Счетчик, который показывает сколько человек сейчас просматривает эту планировку.

                        li Полноэкранное меню с удобной навигацией.

                        li Запись в отдел продаж, или на просмотр объекта.

                        li ВВизуальный выбор дома, этажа, планировки.

    section.section-example-filter
        .container
            .row
                .offset-md-1.col-md-8
                    h3.h3-big Пример фильтра:
                .col-12
                    .filter-example
                        p Я ищу квартиру для:
                        form
                            .select-container
                                select.chosen-select
                                    option Для семьи
                                    option Для инвестиций
                                    option Для себя
                            .select-container
                                select.chosen-select
                                    option 2 взрослых, 3 ребенка
                                    option 2 взрослых
                                    option 1 взрослый
                            span.button Найти

    section
        .container
            .row
                .offset-md-1.col-md-5
                    h3.h3-big Пользовательские сценарии
            .row.justify-content-center
                .col-lg-4.col-md-6.col-sm-8
                    h4 Эмоциональный сценарий
            .row
                .offset-xl-1.col-lg-3.col-md-6
                    .scenario-step.scenario-step1
                        .scenario-step--heading
                            b Главная
                            img(src='img/path/path1.svg')
                        p На главной странице пользователь смотрит базовую информацию о компании, описания новых домов. Узнает о преимуществах застройщика.
                .col-lg-5.col-md-6
                    .scenario-step.scenario-step2
                        .scenario-step--heading Я ищу квартиру для:
                            b  2 взрослых, 2 ребенка
                            img(src='img/path/path2.svg')
                        p Здесь же можно сразу выбрать вариант квартиры по составу семьи. Также фильтры помогут отобрать самые выгодные предложения для инвестирования.
                .col-xl-3.col-lg-4.col-md-6
                    .scenario-step.scenario-step3
                        .scenario-step--heading
                            b Планировки
                            img(src='img/path/path3.svg')
                        p Планировки можно фильтровать по: дому, этажности, количеству комнат. Важно дать максимально короткий путь от выбора типа квартиры до вариантов планировок.
                .offset-xl-4.col-xl-4.offset-lg-3.col-lg-5.col-md-6
                    .scenario-step.scenario-step4
                        .scenario-step--heading
                            b Заявка на просмотр
                        p Финальная точка коммуникации – пользователь оставляет заявку на просмотр объекта, или посещение отдела продаж. Форма заявки может быть разной: сообщение, чат, звонок. Потенциальный клиент выбирает менеджера, дату и время встречи. Это все создает ощущение заботы и персонификации.

        .spacer-69

        .container
            .row.justify-content-center
                .col-lg-4.col-md-6.col-sm-8
                    h4 Классический сценарий
            .row
                .offset-xl-1.col-lg-3.col-md-6
                    .scenario-step.scenario-step1
                        .scenario-step--heading
                            b Главная
                            img(src='img/path/path1.svg')
                        p На главной странице пользователь знакомится с объектом по рендерам, которые олицетворяют лайфстайл целевой аудитории. По ссылке “Планировки” в меню пользователь переходит в раздел выбора дома.
                .col-lg-5.col-md-6
                    .scenario-step.scenario-step2
                        .scenario-step--heading
                            b Выбор дома  /  этажа
                            img(src='img/path/path2.svg')
                        p На интерактивной карте потенциальный покупатель выбирает дом и этаж.
                .col-xl-3.col-lg-4.col-md-6
                    .scenario-step.scenario-step3
                        .scenario-step--heading
                            b Планировки
                            img(src='img/path/path3.svg')
                        p Общий вид планировок организован по принципу сетки с фильтрами для удобства сортировки. Дополнительно акцентируем внимание на наиболее популярных и акционных квартирах.

                .offset-xl-4.col-xl-4.offset-lg-3.col-lg-5.col-md-6
                    .scenario-step.scenario-step4
                        .scenario-step--heading
                            b Заявка на просмотр
                        p Финальная точка коммуникации – пользователь оставляет заявку на просмотр объекта или посещение отдела продаж. Форма заявки может быть разной: сообщение, чат, звонок. Потенциальный клиент выбирает менеджера, дату и время встречи. Это все создает ощущение заботы и персонификации.

    section.section-building
        .container
            .row
                .offset-lg-1.col-lg-5.col-md-7
                    p Мы digital marketing агентство. Сайт – это еще один инструмент для продвижения и продаж вашего продукта. Наше предложение отталкивается от потребностей целевой аудитории. Для проекта «LaLaLand» предлагаем использовать человекоориентированный дизайн и дружественную подачу контента.
                        br
                        | Уверены, что такой подход позволит создать высокоэффективный сайт и обеспечить максимальную конверсию.

                .col-md-5
                    img(src='img/illus/illus1-8.svg').illus1-8



